:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.accordion {
  width: 100%;
  background-color: grey;
  margin: 10px 0 10px 0;
}

.accordion:hover{
  background-color: #FF7F50;
}

.panel {
  padding: 0 18px;
  display: block;
}

.toggle-btn {
  padding-right: 50px;
  font-size: 20px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 0 9px;
}